html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header{
  grid-area: header;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  background-color: #0f3eb0; 
}

.header-links{
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}

.header-links:hover{
  color: #F3A433;
  text-decoration: underline;
}

.main{
  grid-area: main;
  margin-top: 11px;
}

.footer{
  grid-area: footer;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f3eb0; 
}

.trainer-deck{
  display: flex;
  flex-direction: row;
}

.trainer-card{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  box-shadow:
  0 1.9px 1.1px rgba(0, 0, 0, 0.025),
  0 4.5px 2.5px rgba(0, 0, 0, 0.036),
  0 8.4px 4.8px rgba(0, 0, 0, 0.045),
  0 15px 8.5px rgba(0, 0, 0, 0.054),
  0 28px 15.9px rgba(0, 0, 0, 0.065),
  0 67px 38px rgba(0, 0, 0, 0.09)
;
 padding: 10px;
}

.trainer-image{
  max-width: 34rem;
  max-height: 34rem;
  border-radius: 360px;
  margin-bottom: 10px;
}

.card-footer{
  display: flex;
  justify-content: space-between;
}

.know-more-button{
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  padding: 12px, 28px;
  border-radius: 4px;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.font-color-orange{
  color: #F3A433;
  text-decoration: underline;
}

.grid-left{
  background: #27221F;
}

.grid-right{
  background: #27221F;
  color: #fff;
  padding-top: 15px;
}

.trainer-details-image{
  margin-top: 25px;
  max-width: 34rem;
  max-height: 34rem;
  border-radius: 360px;
  margin-bottom: 10px;
}

.white{
  color: #fff;
}
